:root {
    --defaultBackground: #353535;
    --navBackground: #353535;
    --bibleBackground: #000000;
    --marginBackground: #000000;
    --defaultTextColor: #FFFFFF;
    --defaultFont: 'Roboto', sans-serif;
    --navHeight: 30px;
}

html {
    height: 100%/*calc(100vh - var(--navHeight))*/;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: pink;
}

body {
    background-color: var(--defaultBackground);
    color: var(--defaultTextColor);
    font-family: var(--defaultFont);
    
    height: auto/*calc(100vh - var(--navHeight))*/;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    /*DEBUG*/border: solid 1px rgb(255, 0, 170);   
}



/*NAVIGATION BAR*/

#navBar { /*On mobile center should scroll down, */
    width: 100vw;
    height: var(--navHeight);
    background-color: var(--navBackground);

    /* CSS Grid Structure */
    display: grid;
    grid-gap: 0px;
    grid-template-columns: var(--navHeight) calc(var(--viewWidth)-(2*var(--navHeight))) var(--navHeight);/*Mobile*/
    grid-auto-rows: var(--navHeight);
    grid-template-areas:
        "nLft nMid nRgh";
}

#navLeft { 
    grid-area: nLft;
    /*DEBUG*/border: solid 1px grey;
}
#navMiddle {
    grid-area: nMid;
    /*DEBUG*/border: solid 1px grey;
}
#navRight {
    grid-area: nRgh;
    /*DEBUG*/border: solid 1px grey;
}

#navPassageText { 
    font-size: auto;
}



/*MAIN CONTAINER*/

#main {
    width: 100vw;/*Or should be 3x auto?*/
    height: calc(100vh - var(--navHeight));
    overflow-y: auto;
    overflow-x: auto;

    /* CSS Grid Structure */
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100vw 100vw 100vw;/*Each column needs to be the window width if iPhone*/
    grid-auto-rows: auto;
    grid-template-areas:
        "mrg bib itl";
    /*DEBUG*/border: solid 0px white;
}

#bibleContainer { 
    grid-area: bib;
    background-color: var(--bibleBackground);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: auto;
    /*DEBUG*/border: solid 1px grey;
}

#marginContainer { 
    grid-area: mrg; 
    background-color: var(--marginBackground);
    padding: 10px;
    overflow-y: auto;
    /*DEBUG*/border: solid 1px grey;
}

#bibleContent {
    margin: 0px;
    padding: 0px;
    /*DEBUG*/border: solid 0px tan;
}

#marginContent {
    margin: 0px;
    padding: 0px;
    /*DEBUG*/border: solid 0px tan;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
}